@page "/pages/promotions/discounts"

@using SharedR.Responses.Promotions
<style>
    .mud-table-container {
        overflow: auto;
    }
</style>

<Header OnClose="Cancel" Title="Discounts" Description="Manage Discounts." />
@if (!_loaded)
{
    <MudProgressCircular Color="Color.Primary" Indeterminate="true" />
}
else
{
    <MudTable Hover="true" Elevation="25" Items="DiscountResponses" Dense="true" Bordered="false" Striped="false" Filter="new Func<DiscountResponse, bool>(Search)" @bind-discount="Discount">
        <ToolBarContent>
            <div class="justify-center mud-text-align-center">
                @if (_canCreateDiscounts)
                {
                    <MudFab Color="Color.Success" Icon="@Icons.Material.Filled.Add" Size="Size.Small" IconSize="Size.Medium" Class="mr-2" OnClick="(() => InvokeModal(Guid.Empty))" DisableElevation="true" aria-label="add" />
                    @if (_canExportDiscounts)
                    {
                        <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.Download" Size="Size.Small" IconSize="Size.Medium" DisableElevation="true" aria-label="export" />
                    }
                }
                else
                {
                    @if (_canExportDiscounts)
                    {
                        <MudFab Color="Color.Secondary" Icon="@Icons.Material.Filled.Download" Size="Size.Small" IconSize="Size.Medium" DisableElevation="true" aria-label="export" />
                    }
                }
            </div>
            <MudSpacer />
            @if (_canSearchDiscounts)
            {
                <MudTextField @bind-Value="_searchString" Immediate="true" Placeholder="Search for clients" Adornment="Adornment.Start" AdornmentIcon="@Icons.Material.Filled.Search" IconSize="Size.Medium" Class="mt-0 mb-3"></MudTextField>
            }
        </ToolBarContent>
        <HeaderContent>
            <MudTh><MudTableSortLabel SortBy="new Func<DiscountResponse, object>(x => x.Name)">Name</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DiscountResponse, object>(x => x.Percentage)">Percentage (%)</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DiscountResponse, object>(x => x.StartDate)">Start Date</MudTableSortLabel></MudTh>
            <MudTh><MudTableSortLabel SortBy="new Func<DiscountResponse, object>(x => x.EndDate)">End Date</MudTableSortLabel></MudTh>
            <MudTh Style="text-align:right">Actions</MudTh>
        </HeaderContent>
        <RowTemplate>
            <MudTd DataLabel="Name">
                <MudHighlighter Text="@context.Name" HighlightedText="@_searchString" />
            </MudTd>
            <MudTd DataLabel="Percentage">
                @context.Percentage
            </MudTd>
            <MudTd DataLabel="Start Date">@context.StartDate.ToString("dd-MM-yyyy")</MudTd>
            <MudTd DataLabel="End Date">@context.EndDate.ToString("dd-MM-yyyy")</MudTd>
            <MudTd DataLabel="Actions" Style="text-align: right">
                @if (_canEditDiscounts || _canDeleteDiscounts)
                    {
                    <MudMenu DisableElevation="true" Dense="true" Icon="@Icons.Material.Filled.MoreVert" Color="Color.Default" Size="Size.Small" Direction="Direction.Left" OffsetX="true">
                        @if (_canEditDiscounts)
                            {
                            <MudMenuItem OnClick="(() => InvokeModal(context.Id))">Edit</MudMenuItem>
                            }
                        @if (_canDeleteDiscounts)
                            {
                            <MudMenuItem OnClick="(() => Delete(context.Id))">Delete</MudMenuItem>
                            }
                    </MudMenu>
                    }
                    else
                    {
                    <MudButton Variant="Variant.Filled"
                               DisableElevation="true"
                               StartIcon="@Icons.Material.Filled.DoNotTouch"
                               IconColor="Color.Secondary"
                               Size="Size.Small"
                               Color="Color.Surface">
                        No Allowed Actions
                    </MudButton>
                    }
            </MudTd>
        </RowTemplate>
    </MudTable>
}


